
@{
    ViewBag.Title = "AjaxTest";
}

<h2>AjaxTest</h2>

<br />
@Ajax.ActionLink("Перевернуть строку","_StrTest", "Home", new { str="abcdefghij", a=0, b=10 }, new AjaxOptions() { UpdateTargetId="xxx"})
<br />
<br />
<div id="xxx"> null </div>.