
@{
    ViewBag.Title = "AjaxTest";
}

<h2>AjaxTest</h2>

<br />
@Ajax.ActionLink("Перевернуть строку","_StrTest", "Home", new AjaxOptions() { UpdateTargetId="xxx"})
<br />
<br />
Cтрока: <div>@TempData["str"]</div>
<br />
Перевернутая строка: <div id="xxx"> null </div>