@using AspNet.Models

@{
    ViewBag.Title = "Домашняя страница";
}

<h2>Домашняя страница</h2>

@*@Html.ActionLink("Мой блог", "Index", "Messages")*@
@*@Html.ActionLink("Частичное предстовление", "Index", "Messages")*@

<br />

@Html.Partial("_PersonPartial", new Person("Иван","29","Воронеж"))

<br />
<br />

@if ( User.Identity != null && User.Identity.IsAuthenticated )
{
    <b>@User.Identity.Name</b>
    if ( User.IsInRole("admin") )
    {
        <br />
        <i>Приветствую Вас, Администратор!</i>
    }
    else
    {
        <b>Приветствую Вас, Пользователь!</b>
    }
}
else
{
    <b>Приветствую Вас, Гость!</b>
}